@import "@/styles/vars.scss";

.recommended {
  >&__title {
    border-bottom: 1px solid $layout-color;
    transition: padding-bottom .1s ease-in-out;
    cursor: pointer;
    &:hover {
      padding-bottom: 2px;
    }
  }

}