$main-color: #000000;
$main-white: #f5fcf9;
$main-red: rgb(214,0,28);
$rubik-family: 'Rubik-Regular', serif;
$roboto-family: 'Roboto-Regular', serif;
$formular-family: 'Formular', serif;
$layout-color: #222324;

$padding-def: 20px;