@import '@/styles/vars.scss';
@import '@/styles/mixins.scss';

.form {
  >&__wrapper {
    margin: 0 auto;
    max-width: 600px;
    width: 100%;
    border-radius: 30px 30px 0 0;
    padding: 10px;
  }

  >&__label {
    color: $main-color;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    font-family: $rubik-family;
    margin-bottom: 10px;
    display: block;
  }

  >&__input {
    border-bottom: 3px solid $main-color;
    width: 282px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    font-size: 18px;
  }

  &__loading {
    z-index: 2;
  }

  .loading__wrapper {
    position: absolute;
    @include flex-center;
    width: 100%;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    height: 100%;
    background: rgba(0,0,0, .7);
    z-index: 100;
  }



  >&__inputs-wrap {
    margin-bottom: 12px;
    width: 400px;
    padding-left: calc(50% - 141px);

  }
  >&__input-wrap {
    width: 100%;
    margin: 0 auto 20px;
  }

  &__error {
    font-size: 18px;
    color: $main-red;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  &__btn {
    margin: 0 auto;
    display: block;
  }

}