@font-face {
    font-family: 'Roboto-Regular';
    src: url('robotoRegular.woff') format('woff'),
        url('robotoRegular.woff2') format('woff2');
}
@font-face {
    font-family: 'Rubik-Regular';
    src: url('rubikRegular.woff') format('woff'),
        url('rubikRegular.woff2') format('woff2');
}
@font-face {
    font-family: 'Formular';
    src: url('formular.woff') format('woff'),
        url('formular.woff2') format('woff2');
}