@import "@/styles/vars.scss";
@import "@/styles/mixins.scss";

.card-item {
    &__title {
        @include card-title;
        display: inline;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__wrapper-left {
        width: 67%;
        position: relative;
        margin-right: 30px;
    }

    &__wrapper-info {
        padding: $padding-def;
        @include box-shadow-card;
    }

    &__salary {
        margin-top: 15px;
        @include card-salary;
        font-size: 25px;
    }

    &__info {
        margin-top: 10px;

        p {
            font-size: 16px;
            line-height: 24px;
            color: $main-color;
            margin-bottom: 3px;
        }
    }

    &__fav {
        @include card-fav;
        right: $padding-def;
        top: $padding-def;
    }

    &__btn {
        max-width: 400px;
        width: 100%;
        margin-top: 10px;
        background: $layout-color;
        color: $main-white;
        padding: 15px;
        display: block;

        transition: all 0.2s ease-in-out;

        &:hover {
            background: $main-red;
        }
    }

    &__link {
        display: inline-block;
        max-width: 400px;
        width: 100%;
    }

    &__wrapper-right {
        width: 33%;
        min-height: 250px;
        height: 100%;
    }

    &__wrapper-right_info {
        @include box-shadow-card;
        padding: $padding-def;
    }

    &__logo {
        @include background-logo;
        background-position: center;
        min-height: 126px;
    }

    &__company {
        margin-top: $padding-def;
        @include flex-center;
    }

    &__company-name {
        text-align: center;
        font-size: 20px;
        font-weight: 400;
        max-width: 90%;
    }

    &__company-trusted {
        margin-left: 10px;

        img {
            width: 25px;
            height: 25px;
        }
    }

    &__description {
        padding: $padding-def;
    }

    &__descr-header {
        font-family: $rubik-family;
        font-size: 17px;
        line-height: 1.4rem;
        font-weight: 400;
        margin-top: $padding-def;
        margin-bottom: $padding-def;
        text-align: justify;
    }

    &__descr-list {
        padding-left: 25px;
        font-size: 17px;
        font-fomily: $rubik-family;
        margin-top: 10px;
        margin-bottom: 10px;

        li {
            margin-top: 5px;
            list-style-type: disc;
            &:first-child {
                margin-top: 0;
            }
        }
    }

    &__company-city {
        display: block;
        text-align: center;
        font-size: 19px;
        font-family: $rubik-family;
        margin-top: 5px;
    }
}

@media screen and (max-width: 1000px ){
    .card-item {
        &__wrapper {
            flex-wrap: wrap;
            justify-content: center;
        }
    }
}