@import '@/styles/vars.scss';
@import '@/styles/mixins.scss';

.card {
    margin-top: 24px;
    width: 100%;
    max-width: 1196px;
    min-width: 272px;
    height: auto;
    background: #FFFFFF;
    border: 1px solid #000000;
    padding: 20px;

    transition: all 0.2s ease-in-out;

    &_active {
        max-height: max-content;
    }

    &__wrap {
        @include wrapper;
    }

    &__wrap-left {
        flex-grow: 1;
    }

    &__img {
        @include background-logo;
        max-width: 446px;
        min-height: 126px;
    }

    &__info {
        margin-top: 26px;
    }

    &__list-item {
        margin-top: 17px;
        font-family: $rubik-family;

        span {
            font-weight: 400;
            font-size: 16px;
            line-height: 140%;
            color: #545454;
        }

        &:first-child {
            margin-top: 0;
        }
    }

    &__wrap-right {
        position: relative;
        flex-grow: 3;
        max-width: 700px
    }

    &__title {
       @include card-title;
    }

    &__salary {
        margin-top: 10px;
        @include card-salary;
    }

    &__snapshot-title {
        margin-top: 16px;
        font-family: $roboto-family;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        color: $main-color;
        margin-bottom: 8px;
    }

    &__snapshots {
        overflow: hidden;
        height: 120px;
        position: relative;
        transition: all 0.2s ease-in-out;

        &_active {
            min-height: 120px;
            height: auto;
        }
    }

    &__snapshots-list {
        padding-left: 12px;
    }

    &__snapshots-list-item {
        font-family: $roboto-family;
        position: relative;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        margin-top: 17px;

        &:first-child {
            margin-top: 0;
        }

        &::before {
            content: '';
            position: absolute;
            width: 6px;
            height: 6px;
            border-radius: 100%;
            background-color: $main-color;
            top: 8px;
            left: -12px;
        }
    }

    &__more {
        margin: 11px auto 0;
        display: block;
        font-family: $roboto-family;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        color: #A3A6A9;

        &:hover {
            text-decoration: underline;
        }
    }

    &__fav {
        @include card-fav;
    }
}

@media (max-width: 1128px) {
    .card__wrap {
        flex-direction: column;
        align-items: center;

        &-right {
            margin-top: 16px;
        }
    }
}
@media (max-width: 560px) {
    .card {
        min-width: 272px;
        width: 100%;
        margin: 24px auto 0;

        &__title {
            font-size: 22px;
        }
        &__salary {
            font-size: 18px;
        }
    }
}